body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.table-fixedheader {
    width: 100%;
}

.table-fixedheader,
.table-fixedheader > thead,
.table-fixedheader > tbody,
.table-fixedheader > thead > tr,
.table-fixedheader > tbody > tr,
.table-fixedheader > thead > tr > th,
.table-fixedheader > tbody > td {
    display: block;
}

.table-fixedheader > thead > tr:after,
.table-fixedheader > tbody > tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}

.table-fixedheader > tbody {
    overflow-y: auto;
    height: 200px;
}

    
.table-fixedheader > thead > tr > th,
.table-fixedheader > tbody > tr > td {
    float: left;
}