@model BibApp.Models.Benutzer.Benutzer

@{
    ViewData["Title"] = "Delete";
}

<h2>Löschen</h2>

<h3>Bist du dir sicher, dass du den Benutzer löschen möchtest?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
          
        </dt>
        <dd>
         
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Zurück zur Liste</a>
    </form>
</div>
