@model BibApp.Models.Benutzer.Benutzer

@{
    ViewData["Title"] = "Details";
}

<h2>Benutzerkonto Details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            
        </dt>
        <dd>
            
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Bearbeiten</a> |
    <a asp-action="Index">Zurück zur Liste</a>
</div>
