@model BibApp.Models.Benutzer.Benutzer
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<hr />
<div class="row">
    <div class="col-md-2">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="UserName" class="control-label"></label>
                <input asp-for="UserName" class="form-control" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <label asp-for="Role" class="control-label"></label>
                @if (ViewData["role"].Equals("Admin"))
                {
                    @Html.DropDownList("Role",
                  new List<SelectListItem> {
                       new SelectListItem { Value = "Admin" , Text = "Admin" },
                       new SelectListItem { Value = "Member" , Text = "Member" }
                        },
                  new { @class = "form-control" })

                }
                else
                {
                    @Html.DropDownList("Role",
                  new List<SelectListItem> {
                      new SelectListItem { Value = "Member" , Text = "Member" },
                       new SelectListItem { Value = "Admin" , Text = "Admin" }
                        },
                  new { @class = "form-control" })

                }

            <br />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
