@using BibApp.Models.Benutzer;
@await Component.InvokeAsync("NToastNotify.Toastr")

@model LoginViewModel
@inject SignInManager<Benutzer> SignInManager

@{
    ViewData["Title"] = "Login";
    Layout = "_LoginLayout";
}

<div class="container-fluid">
    <h1 class="text-center" style="padding-top:15px;">Login</h1>
    <hr />
</div>

<form class="form-horizontal" method="post" asp-action="Login">
    <div asp-validation-summary="All"></div> 
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Benutzername"></label>
        <div class="col-sm-10">
            <input asp-for="Benutzername" class="form-control" placeholder="Benutzername eingeben">
            <span asp-validation-for="Benutzername"></span>
        </div>
    </div>

    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Passwort"></label>
        <div class="col-sm-10">
            <input asp-for="Passwort" class="form-control" placeholder="Passwort eingeben">
            <span asp-validation-for="Passwort"></span>
        </div>
    </div>
    
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-default">Einloggen</button>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <p>
                <a asp-action="Register" asp-route-returnurl="@ViewData["ReturnUrl"]">Registrieren</a>
            </p>
         </div>
    </div>
</form>

