
@{
    ViewData["Title"] = "Logout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sie wurden erfolgreich ausgeloggt!</h2>
<br />
<h3>Naja eigentlich noch nicht, aber das ist nun deine Aufgabe Binh =)</h3>
