@model ManageBenutzerModel
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Mein Benutzerkonto";
}

<h4>Mein Benutzerkonto</h4>
<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Benutzername"></label>
                <input asp-for="Benutzername" class="form-control" />
            </div>
            <button type="submit" class="btn btn-success">Speichern</button>
        </form>
    </div>
</div>

<br />

<a asp-action="ChangePassword" asp-controller="Benutzers">Passwort ändern</a>
