@model RegisterViewModel
@await Component.InvokeAsync("NToastNotify.Toastr")
@{
    ViewData["Title"] = "Register";
    Layout = "_LoginLayout";
}

<h2>Registrierung</h2>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
            <h4>Erstelle ein neues Benutzerkonto.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Benutzername"></label>
                <input asp-for="Benutzername" class="form-control" />
                <span asp-validation-for="Benutzername" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Passwort"></label>
                <input asp-for="Passwort" class="form-control" />
                <span asp-validation-for="Passwort" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ConfirmPasswort"></label>
                <input asp-for="ConfirmPasswort" class="form-control" />
                <span asp-validation-for="ConfirmPasswort" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Registrieren</button>
        </form>
    </div>
</div>