@model BibApp.Models.Buch.Buch
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Buch bearbeiten";
}

<h2>Buch bearbeiten</h2>

<hr />

<form asp-action="Edit">
    <div class="row">
        <div class="col-md-4">
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verlag" class="control-label"></label>
                <input asp-for="Verlag" class="form-control" />
                <span asp-validation-for="Verlag" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-2">
            <div class="form-group">
                <label asp-for="Erscheinungsjahr" class="control-label"></label>
                <input asp-for="Erscheinungsjahr" class="form-control" />
                <span asp-validation-for="Erscheinungsjahr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regal" class="control-label"></label>
                <input asp-for="Regal" class="form-control" />
                <span asp-validation-for="Regal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reihe" class="control-label"></label>
                <input asp-for="Reihe" class="form-control" />
                <span asp-validation-for="Reihe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnzahlExemplare" class="control-label"></label>
                <input asp-for="AnzahlExemplare" class="form-control" />
                <span asp-validation-for="AnzahlExemplare" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Speichern" />
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Buch")'">Abbrechen</button>
            </div>
        </div>
    </div>
</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
