@model BibApp.Models.Buch.Buch
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Create";
}

<h2>Buch hinzufügen</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Verlag" class="control-label"></label>
                <input asp-for="Verlag" class="form-control" />
                <span asp-validation-for="Verlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Erscheinungsjahr" class="control-label"></label>
                <input asp-for="Erscheinungsjahr" class="form-control" />
                <span asp-validation-for="Erscheinungsjahr" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regal" class="control-label"></label>
                <input asp-for="Regal" class="form-control" />
                <span asp-validation-for="Regal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reihe" class="control-label"></label>
                <input asp-for="Reihe" class="form-control" />
                <span asp-validation-for="Reihe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AnzahlExemplare" class="control-label"></label>
                <input asp-for="AnzahlExemplare" class="form-control" />
                <span asp-validation-for="AnzahlExemplare" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Hinzufügen"/>
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Buecher")'">Abbrechen</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
