@model BibApp.Models.Buch.Buch

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Buch</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Titel" class="control-label"></label>
                <input asp-for="Titel" class="form-control" />
                <span asp-validation-for="Titel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Autor" class="control-label"></label>
                <input asp-for="Autor" class="form-control" />
                <span asp-validation-for="Autor" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="Verfügbarkeit" /> @Html.DisplayNameFor(model => model.Verfügbarkeit)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IstVorgemerkt" /> @Html.DisplayNameFor(model => model.IstVorgemerkt)
                    </label>
                </div>
            </div>*@
            <div class="form-group">
                <label asp-for="Verlag" class="control-label"></label>
                <input asp-for="Verlag" class="form-control" />
                <span asp-validation-for="Verlag" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Regal" class="control-label"></label>
                <input asp-for="Regal" class="form-control" />
                <span asp-validation-for="Regal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Reihe" class="control-label"></label>
                <input asp-for="Reihe" class="form-control" />
                <span asp-validation-for="Reihe" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                <label asp-for="EntliehenVom" class="control-label"></label>
                <input asp-for="EntliehenVom" class="form-control" />
                <span asp-validation-for="EntliehenVom" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EntliehenBis" class="control-label"></label>
                <input asp-for="EntliehenBis" class="form-control" />
                <span asp-validation-for="EntliehenBis" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
