@model BibApp.Models.Benutzer.Benutzer
@await Component.InvokeAsync("NToastNotify.Toastr")

@{
    ViewData["Title"] = "Bearbeiten";
}

<h2>Benutzerkonto bearbeiten</h2>

<hr />
<div class="row" style="padding-left: 15px">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Benutzername" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <div class="form-group">
                    <label asp-for="Role" class="control-label"></label>
                    @if (ViewData["role"].Equals("Admin"))
                    {
                        @Html.DropDownList("Role",
                    new List<SelectListItem> {
                        new SelectListItem { Value = "Admin" , Text = "Admin" },
                        new SelectListItem { Value = "Member" , Text = "Member" }
                    },
                    new { @class = "form-control" })
                    }
                    else
                    {
                        @Html.DropDownList("Role",
                    new List<SelectListItem> {
                        new SelectListItem { Value = "Member" , Text = "Member" },
                        new SelectListItem { Value = "Admin" , Text = "Admin" }
                    },
                    new { @class = "form-control" })
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <input type="submit" class="btn btn-success" value="Speichern" />
                    <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Index", "Benutzer")'">Abbrechen</button>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}